<!DOCTYPE html>
<html lang="ko">
<head>
  <%- include(views + 'header.ejs') %>
  <title>날씨예측</title>
  <link rel="stylesheet" href="/stylesheets/weather/weather.css"/>
  <script defer src="/javascripts/weather/weather.js"></script>
</head>
<body>
<div class="container">
  <div class="page-header">
    <h1>날씨 예측하기</h1>
  </div>
  <div class="row">
    <div class="panel panel-info">
      <div class="panel-heading">
        <ul class="nav nav-tabs">
          <li class="dropdown closed">
            <a data-toggle="dropdown">오늘 날씨 맞히기<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a id="menu1" data-toggle="tab">기온</a></li>
              <li><a id="menu2" data-toggle="tab">습도</a></li>
              <li><a id="menu3" data-toggle="tab">풍속</a></li>
              <li><a id="menu4" data-toggle="tab">날씨 (구름, 비 등)</a></li>
            </ul>
          </li>
          <li class="dropdown closed">
            <a id="btnWeek" data-toggle="dropdown">주간 날씨 맞히기<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a id="menu5" data-toggle="tab">최고 기온</a></li>
              <li><a id="menu6" data-toggle="tab">최저 기온</a></li>
              <li><a id="menu7" data-toggle="tab">강수 확률</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="panel-body">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="tab0">메뉴를 선택해주세요.</div>
          <!-- 탭 반복 -->
          <% for (let i = 1; i <= 7; i++) { %>
            <div class="tab-pane tab-game fade" id="tab<%= i %>">
              <div class="user-container" id="userContainer<%= i %>">
                <!-- 유저 반복 -->
                <% for (let j = 0; j < 3; j++) { %>
                  <div class="user">
                    <i class="fa-solid fa-user"></i>
                    <!-- 입력폼 반복 -->
                    <% for (let k = 0; k < 7; k++) { %>
                      <input type="number" class="form-control item-input">
                    <% } %>
                    <span></span>
                    <span></span>
                    <!-- 결과 반복 -->
                    <% for (let k = 0; k < 7; k++) { %>
                      <span class="item-result"></span>
                    <% } %>
                    <span class="item-result-total"></span>
                  </div>
                <% } %>
                <!-- 정답 div -->
                <div class="user user-ans" id="ansContainer<%= i %>">
                  <i class="fa-solid fa-server"></i>
                  <!-- 입력폼 반복 -->
                  <% for (let k = 0; k < 7; k++) { %>
                    <input type="text" class="form-control item-answer" value="?" disabled>
                  <% } %>
                  <span></span>
                </div>
              </div>
              <!-- 컨트롤 div -->
              <div class="control">
                <span class="control-label"><i class="fa-solid fa-user"></i> :</span>
                <button class="btn btn-secondary btn-user-minus" id="userMinus<%= i %>" onclick="userMinus(<%= i %>)">-</button>
                <span class="user-num" id="userNum<%= i %>">2</span>
                <button class="btn btn-secondary btn-user-plus" id="userPlus<%= i %>" onclick="userPlus(<%= i %>)">+</button>
                <!-- 우리집: nx=89, ny=91 -->
                <% if (i <= 4) { %>
                  <input type="text" class="form-control input-nx" id="nx<%= i %>" placeholder="nx">
                  <input type="text" class="form-control input-ny" id="ny<%= i %>" placeholder="ny">
                <% } else { %>
                  <div class="dropdown closed">
                    <button class="btn btn-primary dropdown-toggle btn-reg" id="btnReg<%= i %>" type="button" data-toggle="dropdown">
                      지역 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a onclick="regSet(<%= i %>, 1)">서울</a></li>
                      <li><a onclick="regSet(<%= i %>, 2)">부산</a></li>
                      <li><a onclick="regSet(<%= i %>, 3)">대구</a></li>
                      <li><a onclick="regSet(<%= i %>, 4)">인천</a></li>
                      <li><a onclick="regSet(<%= i %>, 5)">대전</a></li>
                      <li><a onclick="regSet(<%= i %>, 6)">광주</a></li>
                      <li><a onclick="regSet(<%= i %>, 7)">울산</a></li>
                    </ul>
                  </div>
                <% } %>
                <button class="btn btn-success btn-start" id="start<%= i %>" onclick="start(<%= i %>)">시작!</button>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
